html {
    background: #A2B9C7;
    box-sizing: border-box;
    text-size-adjust: 100%;
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.transit {

    /* Fix flickering on Chrome and Safari */
    transform: translate3d(0, 0, 0);

    /* Set transition for all properties */
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1); /* easeOutCirc */
}