html {
    background: #A2B9C7;
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}